stamp-h1
shave-libtool
shave
autom4te.cache
Untitled1.abw.saved
abiword-2.9.pc
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
doltcompile
doltlibtool
finddot
install-sh
libabiword.pc
libtool
ltmain.sh
missing
*.m4
